div,body,ul,li,h1,h2{margin:0;padding:0;}
li{list-style-type:none;}
img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
body{overflow:hidden;}



/*µ¼º½²¿·Ö*/
#banner{background:url(../img/banner.png) no-repeat;height:46px;background-size:100% 100%;}
#banner li{float:left;}
#banner .back{float:left;margin-left:13px;}
#banner .back li{margin-right:13px;}
.back img{border:1px solid transparent;}
.back img:hover{background-color:#6cb6bb;border-left:1px solid #378085;border-top:1px solid #378085;}
#banner .time{float:right; margin-right:25px;}
#banner .icons{position:absolute; right:19px;}
.time li{padding-left:10px; float:left;} 
.time span{width:auto;height:46px;line-height:46px;color:#bfd1d3;font-size:12px;font-weight:bold;position:relative;top:10px;} 
.time .date{font-size:13px;}

#wrap{background:url(../img/bg_main.png) no-repeat;background-size:100% 100%;height:740px;}
