#right{width:100%;clear:both;margin:0 7px 0 -150px;float:right; height:648px;margin-top:5px;}
#innerRight{ margin-left:155px;background:url(../img/bgR.png);no-repeat; background-size:100% 100%;height:648px;}
#right h1{font-color:#323232;font-size:18px;height:40px;text-align:center;line-height:40px;}

.form{margin:25px 0 10px 20px;height:25px;}
.form li{float:left;height:25px;margin-left:10px;}
.form span{
	line-height:25px;
	font-size:36px;
}
input{height:23px;width:154px;border:none;background:url(../img/input_text.png) no-repeat;text-indent:12px;}
.form .search{cursor:pointer;}
.notes_1, .notes_2{width:57px; line-height:25px;text-align:center;}
.notes_1{background-color:#e75252;}
.notes_2{background-color:#28925a;}


.imgs{
	clear:both;
	margin-top:10px;
}
.imgs ul{margin-left:auto;margin-right:auto;width:100%; clear:both;}
.read {float:left;height:150px;width:20%;text-align:center;}
.no_read1 li, .readed1 li{float:left;height:150px;width:20%;text-align:center;}
.imgs li:hover{background-color:grey;}
.read {background:url(../img/pigai_n.png) no-repeat; background-position:50% 30px;}
.no_read1 li{background:url(../img/pigai_n.png) no-repeat; background-position:50% 30px;}
.readed1 li{background:url(../img/pigai_y.png) no-repeat; background-position:50% 30px;}
.imgs .time{position:relative;top:80px;font-size:12px;color:#ffffff;}
.class_name{position:relative;top:90px; font-size:16px;color:#444545;}
p{position:relative;top:160px;clear:both;font-size:14px;text-indent:20px;color:#434343;}
*{margin:0;padding:0;}
			
			.auto .search{font-family:"Î¢ÈíÑÅºÚ";border:0;}
			.auto .a_text div:hover{background:#EBEBEB;}
